html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #040714;
  color: #f9f9f9;
  font-family: Avenir-Roman, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

/*Devices over 768px M(Most Desktops/Laptops)*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/*Devices between 480 and 768px (Most Iphone and Galaxy Products)*/
@media only screen and (min-width: 480x) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

/*Devices under 479px (Apple Watches and other portable Smart Devices)*/
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}